div(style={'width':'100%','padding': '0px', 'margin-top':'20px', background:'rgba(200,50,0,0.3)','border-radius':'20px', 'margin-bottom':'100px'}).container.content
	div(style={'border-radius':'0px', background: 'rgba(0,0,0,0)', border:'0px'}).well
		if(user)
				h4 Añade un comentario
				form(id="form_add_comentario" action="/app/denuncia/#{denuncia.gid}/addComentario", method="post")
					.form-group
						textarea(name="contenido" rows='3' style={'height':'250px'}).form-control
					button.btn.btn-primary(type='submit' id="#add_comentario") Añadir
			div.page-header
				h2 Comentarios
			-var index = 0;
			if denuncia.comentarios
				each coment in denuncia.comentarios
					.col-lg-12
						.testimonials
							.active.item
								div(style={'background':'rgba(255,255,255,0.5)', 'border-top-left-radius':'20px'}).carousel-info
									img.pull-left(alt='', src='#{coment.profile.picture}')
									.pull-left
										span.testimonials-name #{coment.profile.username}
										span.testimonials-post #{coment.fecha}
									.pull-right
										span # #{denuncia.comentarios.length - (index++)}
								hr(style={'margin': '0 auto'})
								blockquote.quote(style={background:'rgba(255,255,255,0.5)'})
									div(style={color:'#666', 'word-wrap':'break-word'}) !{coment.contenido}
					br
