extends map-layout.jade
block meta
	meta(property='og:url' content='/app/denuncia/#{denuncia.gid}')
	meta(property='og:type' content='website')
	meta(property='og:title' content='Your Website Title')
	meta(property='og:description' content='Your description')
block script
	script.
		var denuncia = {
			titulo: '#{denuncia.titulo}',
			gid: '#{denuncia.gid}',
			id_usuario: '#{denuncia.id_usuario}'
		};
		var geojsonDenuncia = !{denuncia.geometria}; // geometría del servidor
		// solo podemos acceder a ella desde este tipo de scripts que tienen un punto al final
	script(src="/javascripts/openlayers/olvisor.js")
block botonesmapa
	button.btn.btn-small.btn-info.btn-map.cd-btn(type='button', style='position: absolute; right: 0.5em; bottom: 40%; min-width: 1.375em')
		i.fa.fa-file-text-o
block panel-lateral
	.cd-panel.from-right
		header.cd-panel-header
			h1(style="margin-top: 0px; color: #55ACEE !important; font-size: 20px;") #{denuncia.titulo}
			a.cd-panel-close(href='#0') Close
		.cd-panel-container
			.cd-panel-content 
				if(denuncia.imagenes)
					h1 Hay imágenes
				else
					h1 No hay imágenes
				div !{denuncia.descripcion}