extends map-layout.jade
block meta
	meta(property='og:url' content='/app/denuncia/#{denuncia.gid}')
	meta(property='og:type' content='website')
	meta(property='og:title' content='Your Website Title')
	meta(property='og:description' content='Your description')
block link
	link(rel="stylesheet" href="/stylesheets/carousel.css")
block panel-lateral
	#imagenes.cd-panel.from-right
		header.cd-panel-header
			h1(style="margin-top: 0px; color: #55ACEE !important; font-size: 20px;") Imágenes
			a.cd-panel-close(href='#0') Close
		.cd-panel-container
			.cd-panel-content
				if(denuncia.imagenes)
					p Contiene #{denuncia.imagenes.length} imágenes
					.well(style="height: 100%;")
						#thumbnail-preview-indicators.carousel.slide(data-ride='carousel' style="height: 100%;")
							ol.carousel-indicators
								- var aux = 0;
								each imagen in denuncia.imagenes
									if aux == 0
										li.active(data-target='#thumbnail-preview-indicators', data-slide-to='#{aux}')
											.thumbnail
												img.img-responsive(src='#{imagen.path}')										
									else
										li(data-target='#thumbnail-preview-indicators', data-slide-to='#{aux}')
											.thumbnail
												img.img-responsive(src='#{imagen.path}' style="height: 10%;")
									- aux++;
							.carousel-inner(style="height: 100%;")
								- var aux = 0
								if denuncia.imagenes
									each imagen in denuncia.imagenes
										if aux == 0
											.item.slides.active(style="height: 100%;")
												.slide(class="slide-#{aux + 1}" style="height: 100%;background: url('#{imagen.path}'); background-size: 100% 100%;")
										else
											.item.slides(style="height: 100%;")
												div(class="slide-#{aux + 1}" style="height: 100%;background: url('#{imagen.path}'); background-size: 100% 100%;")
										- aux++;
				else
					p Esta denuncia no contiene imágenes
block script
	// TinyMCE Editor
	script(src="//cdn.tinymce.com/4/tinymce.min.js")
	script.
		//alert('!{denuncia.descripcion}');
		var denuncia = {
			titulo: '#{denuncia.titulo}',
			descripcion: '!{denuncia.descripcion}',
			gid: '#{denuncia.gid}',
			fecha : '#{denuncia.fecha}',
			id_usuario: '#{denuncia.id_usuario}',
			usuario : JSON.parse('!{JSON.stringify(denuncia.usuario[0])}'),
			veces_vista : '#{denuncia.veces_vista}',
			likes : JSON.parse('!{JSON.stringify(denuncia.likes)}'),
			comentarios : JSON.parse('!{JSON.stringify(denuncia.comentarios)}'),
			imagenes : JSON.parse('!{JSON.stringify(denuncia.imagenes)}'),
			tags : JSON.parse('!{JSON.stringify(denuncia.tags_)}')
		};

		var user;

		if('#{user}' == ''){
			user = undefined;
		} else {
			user = JSON.parse('!{JSON.stringify(user)}');
		}

		console.log(user);
		
		var json = JSON.parse('!{JSON.stringify(denuncia.geometria)}'); // geometría del servidor
		var type = json.type;

		var feature;

		if(type == 'Point'){
			feature = new ol.Feature({
				  geometry: new ol.geom.Point(json.coordinates),
				  name: 'Denuncia - Punto'
			});
		}
		else if(type == 'LineString'){
			feature = new ol.Feature({
				geometry: new ol.geom.LineString(json.coordinates),
				name: 'Denuncia - Polígono'
			});
		}
		else if(type == 'Polygon'){
			feature = new ol.Feature({
				geometry: new ol.geom.Polygon(json.coordinates),
				name: 'Denuncia - Polígono'
			});
		}

		vector.getSource().addFeature(feature);

		map.addLayer(vector);

		var geom = feature.getGeometry().getExtent();
		var size = map.getSize();

		map.getView().fit(geom,size);
		// solo podemos acceder a ella desde este tipo de scripts que tienen un punto al final
		map.addControl(new app.InfoDenuncia({},denuncia));
		map.addControl(new app.ImagenesDenuncia({},denuncia));
		map.addControl(new app.ComentariosDenuncia({}, denuncia, user));
		map.addControl(new app.LikeDenuncia());

		num_denuncias_io.emit('alguien_vio_una_denuncia', {id_denuncia: '#{denuncia.gid}'});

		var likes_html = '<div class="container" style="width: 100%"><div class="col-lg-12">';
		
		var usuarios_like = JSON.parse('!{JSON.stringify(denuncia.likes)}');
		if (usuarios_like)
			usuarios_like.forEach(function(usuario){
				likes_html += '<a data-toggle="bottom" title="Usuario" data-content="' + usuario.profile.username + '" href="/app/usuarios/' + usuario._id + '" style="float:left; margin: 2px;"><img style="width: 80px; height: 80px;" src="' + usuario.profile.picture + '" class="img img-thumbnail"></img></a>';
			});

		likes_html += '</div></div>';
		
		function quienLike(){
			console.log('a quien le gusta');
			BootstrapDialog.show({
				title: 'Esta denuncia le gusta a...',
				message: likes_html,
				buttons: [{label: 'Cerrar', action: function(d){d.close();}}],
				onshown: function(){
					$('[data-toggle="bottom"]').popover({
						trigger: 'hover',
						placement: 'bottom'
					});
				}
			});
		};
		
	script(src="/javascripts/openlayers/olvisor.js")
