extends map-layout
// block link
block link
	link(rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/css/dropzone.css')
	link(rel="stylesheet" href="/javascripts/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css")
	style.
		.bootstrap-tagsinput {
		    width: 100%;
		}
		.label {
		    line-height: 2 !important;
		}
	// CSS DROPZONE
// block script
block script
	script.
		var denuncia = {
			titulo: '#{denuncia.titulo}',
			descripcion: '#{denuncia.descripcion}',
			gid: '#{denuncia.gid}',
			fecha : '#{denuncia.fecha}',
			id_usuario: '#{denuncia.id_usuario}',
			usuario : JSON.parse('!{JSON.stringify(denuncia.usuario[0])}'),
			veces_vista : '#{denuncia.veces_vista}',
			likes : JSON.parse('!{JSON.stringify(denuncia.likes)}'),
			comentarios : JSON.parse('!{JSON.stringify(denuncia.comentarios)}'),
			imagenes : JSON.parse('!{JSON.stringify(denuncia.imagenes)}'),
			tags : JSON.parse('!{denuncia.tags_}'),
			geometria : JSON.parse('!{JSON.stringify(denuncia.geometria)}')

		};
	// TAGS
	script(src="/javascripts/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.js")
	// TinyMCE Editor
	script(src="//cdn.tinymce.com/4/tinymce.min.js")
	script(src='http://cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/dropzone.min.js')
	// JS DROPZONE
	script(src="/javascripts/uploadUpdate.js")
	// JS CONFIG SUBIR IMÁGENES
	script(src="/javascripts/openlayers/oleditar.js")
	script(type='text/javascript').
		map.addControl(new app.Lateral({titulo: 'Editar denuncia', denuncia : denuncia}));
		map.addControl(new app.Draw());
		var random = '#{random}';