extends layout
block link
	// Bootstrap Select
	link(rel="stylesheet" href="/javascripts/plugins/bootstrap-select/dist/css/bootstrap-select.css")
	// LayerSwitcher CSS
	link(rel='stylesheet', href='/javascripts/plugins/ol3-layerswitcher/src/ol3-layerswitcher.css')
	// OpenLayers CSS
	link(rel='stylesheet', href='/javascripts/plugins/ol3/ol.css', type='text/css')
	// CSS OpenLayers Popup
	link(rel='stylesheet', href='http://openlayers.org/en/v3.11.0/examples/popup.css')
	// Prefix free
	script(src='https://raw.githubusercontent.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js')
block content
	.section.clearfix.object-non-visible(data-animation-effect='fadeInRightBig')
		// Header Inicio Perfil +  Nombre Usuario
		.container
			.row
				.col-md-12
					h1#iniciar.title
						i.fa.fa-user(style={'margin-left':'5px', 'margin-right': '5px'})
						span Editar Perfil
		// Contenedor del contenido del perfil
		.container
			.row
				.col-lg-4
					form#imagen_change.form-horizontal.text-center
						#imagen
							img#imagenperfil.img-responsive.img-thumbnail.img-circle(src="#{user.profile.picture}" style="height:200px; width: 200px; -top: 30px;")
						.space
						h4 Cambiar Imagen
						p Selecciona una imagen...
						input#cambiarImagen.btn.btn-default(type="file" style="max-width:80%; margin: 0 auto;" name="file")
						p o utiliza un 
							a#gravatar(onclick="gravatar()") gravatar aleatorio
				.col-lg-8
					h4 Datos Generales del Usuario
					p Edita tus datos personales. Recuerda que tu nombre no es visible por ningún usuario de la aplicación.
					.col-lg-6
						form.form-horizontal
						.input-group(style={'margin-top':'5px'})
							span.input-group-addon Nombre
							input#nombre.form-control.btn-default(type='text', name="nombre", value="#{user.profile.nombre}")
						.space
					.col-lg-6
						form.form-horizontal
						.input-group(style={'margin-top':'5px'})
							span.input-group-addon Apellidos
							input#apellidos.form-control.btn-default(type='text', name="apellidos", value="#{user.profile.apellidos}")
						.space
					.col-lg-6
						form.form-horizontal
						.input-group(style={'margin-top':'5px'})
							span.input-group-addon
								i.fa.fa-user.fa-fw
							input#nombre_usuario.form-control.btn-default(type='text', name="username", value="#{user.profile.username}")
						.space
					.col-lg-6(style="clear: both;")
						form.form-horizontal
						.input-group(style={'margin-top':'5px'})
							span.input-group-addon
								i.fa.fa-key.fa-fw
							input#password.form-control.btn-default(type='password', name="password", placeholder="nueva contraseña")
						.space
					.col-lg-6
						form.form-horizontal
						.input-group(style={'margin-top':'5px'})
							span.input-group-addon
								i.fa.fa-key.fa-fw
							input#repassword.form-control.btn-default(type='password', name="repassword", placeholder="repetir contraseña")
						.space
				.col-lg-12.text-center
					button#actualizar.btn.btn-default(style="margin: 0px auto; width: 97.5%;") ACTUALIZAR
				.col-lg-12(style="margin: 10 0 10 0px")
					h4 Cuentas linqueadas en redes sociales
					p Linquea o deslinquea cuentas de tus redes sociales
					.col-lg-6.text-center
						if user.twitter
							a.btn.btn-default(style="width: 100%; padding: 50px;")
								i.fa.fa-twitter(style="margin-right: 5px;")
								| #{user.twitter.username}
								a.btn.btn-danger(style="width: 100%;" href="/app/unlink/twitter") Deslinquear	
						else
							a.btn.btn-default(href="/app/connect/twitter" style="width: 100%; padding: 50px;")
								i.fa.fa-twitter(style="margin-right: 5px;")
								| Linquear cuenta de Twitter
					.col-lg-6.text-center
						if user.facebook
							a.btn.btn-default(style="padding: 50px; width: 100%;") 
								i.fa.fa-facebook(style="margin-right: 5px;")
								| #{user.facebook.name}
								a.btn.btn-danger(style="width: 100%;" href="/app/unlink/facebook") Deslinquear
						else
							a.btn.btn-default(href="/app/connect/facebook" style="width: 100%; padding: 50px;")
								i.fa.fa-facebook(style="margin-right: 5px;")
								| Linquear cuenta de Facebook
				.col-lg-12
					h4 Localización preferida y Distancia de aviso
					p Cambiando estos parámetros el servidor te avisará de notificaciones que estén dentro del área seleccionada.
					p Si no deseas ser avisado de denuncias cercanas a una ubicación desmarca esta opción.
					p Para editar la ubicación preferida pulse 
						a(href="/app/perfil/editar_loc") aquí.
block script
	script(src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js")
	script.
		$('#actualizar').click(function(event){
			var json = {};
			if($('#nombre_usuario').val() == '' || $('#nombre_usuario').val() == '#{user.profile.username}'){}
			else json.username = $('#nombre_usuario').val();
			
			if($('#nombre').val() == '' || $('#nombre').val() == '#{user.profile.nombre}'){}
			else json.nombre = $('#nombre').val();
	
			if($('#apellidos').val() == '' || $('#apellidos').val() == '#{user.profile.apellidos}'){}
			else json.apellidos = $('#apellidos').val();
	
			if($('#password').val() == ''){}
			else json.password = $('#password').val();
	
			if($('#repassword').val() == ''){}
			else json.repassword = $('#repassword').val();
	
			
			var xhr = new XMLHttpRequest();
			
			xhr.open('POST', '/app/perfil/editar' , true); // Método POST
	
			xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8"); // Especificamos cabecera
	
			xhr.send(JSON.stringify(json)); // Enviamos petición
	
	
			// Recibimos respuesta del servidor
			xhr.onload = function(){
				//alert('recibidoWS');
				// El Response que nos envía el servidor
				var res = JSON.parse(xhr.responseText);
				BootstrapDialog.show({
					title: 'Perfil actualizado correctamente', 
					message: 'Tus datos se actualizaron correctamente', 
					onshown: function(dialog) {
						setTimeout(function(){
							dialog.close();
						}, 3000);
					},
					buttons: [{label: 'Cerrar', action: function(dialog){dialog.close();}}]
				});
			}
			
		});
		
		$('#imagen_change').submit(function(event){
		
			event.preventDefault();
		
			var formData = new FormData(this);
			
			var xhr = new XMLHttpRequest();
			
			xhr.open('POST', '/app/perfil/cambiar_imagen' , true); // Método POST
		
			xhr.send(formData); // Enviamos petición
	
	
			// Recibimos respuesta del servidor
			xhr.onload = function(){
				//alert('recibidoWS');
				// El Response que nos envía el servidor
				var res = JSON.parse(xhr.responseText);
				BootstrapDialog.show({
					title: 'Imagen de Perfil cambiada', 
					message: 'Tu imagen de perfil se actualizó correctamente', 
					onshown: function(dialog) {
						setTimeout(function(){
							dialog.close();
						}, 3000);
					},
					buttons: [{label: 'Cerrar', action: function(dialog){dialog.close();}}]
				});
				$('#imagen').empty();
				$('#imagen').append('<img class="img img-responsive img-thumbnail img-circle" id="imagenperfil" src="' + res.path + '" style="width: 200px; height: 200px;">');
			}
			
		});
		
		$('#cambiarImagen').change(function(event){
			$('#imagen_change').submit();
		});
		
		function gravatar(){
			var gr = 'https://gravatar.com/avatar/' + CryptoJS.MD5('#{user.profile.email}') + '?s=' + 300 + '&d=retro';
			//alert(gr);
			var xhr = new XMLHttpRequest();
			
			xhr.open('POST', '/app/perfil/gravatar', true);
			
			xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8"); // Especificamos cabecera
			
			xhr.send(JSON.stringify({gravatar: gr}));
			
			xhr.onload = function(){
				var res = JSON.parse(xhr.responseText);
				$('#imagen').empty();
				$('#imagen').append('<img class="img img-responsive img-thumbnail img-circle" id="imagenperfil" src="' + res.path + '" style="width: 200px; height: 200px;">');
				BootstrapDialog.show({
					title: 'Imagen de Perfil cambiada', 
					message: res.msg, 
					onshown: function(dialog) {
						setTimeout(function(){
							dialog.close();
						}, 3000);
					},
					buttons: [{label: 'Cerrar', action: function(dialog){dialog.close();}}]
				});
			}
			
		};
		