extends base/layout
block content
    // Iniciar Sesión
    if (!user)
      .section.clearfix.object-non-visible(data-animation-effect='fadeInRightBig')
        .container
          .row
            .col-md-12
              h1#iniciar.title.text-center #{contenido.iniciar_sesion.split(" ")[0]}
                span  !{contenido.iniciar_sesion.split(" ")[1]}
              p.lead.text-center !{contenido.inicia_sesion_info}
              .space
              .row
                form(action="/app/usuarios/iniciar" method="POST" style={padding: '5%', background: 'rgba(0,50,187, 0.1)', margin: '0 auto',  width: '80%'}).form-horizontal.container-fluid
                  .col-md-12.text-center
                    i.fa.fa-user(style="font-size: 100px;color: #00bbff")
                  .col-md-6
                    .input-group(style={'margin-top':'5px'})
                      span.input-group-addon
                        i.fa.fa-envelope-o.fa-fw
                      input.form-control.btn-default(type='text', name="email", placeholder='#{contenido.usuario_o_email}')
                  .col-md-6
                    .input-group(style={'margin-top':'5px'})
                      span.input-group-addon
                        i.fa.fa-key.fa-fw
                      input.form-control.btn-default(type='password', name="password", placeholder='#{contenido.contraseña}')
                  .col-lg-12(style={clear : both, margin: '0 auto'})
                    .input-group(style={'padding-top':'5px'})
                      span.input-group-addon
                        i.fa.fa-sign-in.fa-fw
                      input.form-control.btn-success(type="submit", value="#{contenido.iniciar_sesion}")
              .space
              p.lead.text-center !{contenido.inicia_sesion_rs}
              .row
                div(style={padding: '5%', background: 'rgba(0,50,187, 0.1)',margin: '0 auto', width: '80%'}).form-horizontal.container-fluid
                  .col-md-6(style="margin-bottom : 10px")
                    .input-group
                      span.input-group-addon
                        i.fa.fa-facebook.fa-fw(style={color: '#3b5998'})
                      a(href="/app/usuarios/auth/facebook")
                        input.form-control.btn-default.facebook-button(type="button" value="#{contenido.iniciar_sesion}")
                  .col-md-6
                    .input-group
                      span.input-group-addon
                        i.fa.fa-twitter.fa-fw(style={color: '#1dcaff'})
                      a(href="/app/usuarios/auth/twitter")
                        input.form-control.btn-default.twitter-button.text-center(type="button" value="#{contenido.iniciar_sesion}")
      // Registrarse
      .section.clearfix.object-non-visible(data-animation-effect='fadeInRightBig')
        .container
          .row
            .col-md-12
              h1#registrarse.title.text-center !{contenido.nuevo}
                span  !{contenido.usuario}
              p.lead.text-center !{contenido.crear_cuenta_usuario}
              .space
              .row
                form.form-horizontal.container-fluid(action="/app/usuarios/registrarse" method="POST" style={padding: '5%', background: 'rgba(0,50,187, 0.1)', float: 'none', width: '80%'})
                  // Correo Electrónico
                  .col-md-12.text-center
                    i.fa.fa-sign-in(style="font-size: 100px;color: #00bbff")
                  .col-md-4
                    .input-group(style={'margin-top':'5px'})
                      span.input-group-addon
                        i.fa.fa-envelope-o.fa-fw
                      input.form-control.btn-default(type='text', name="email", placeholder='#{contenido.email}')
                  // Contraseña
                  .col-md-4(style={'margin-top':'5px'})
                    .input-group
                      span.input-group-addon
                        i.fa.fa-key.fa-fw
                      input.form-control.btn-default(type='password', name="password", placeholder='#{contenido.contraseña}')
                  // Repetir Contraseña
                  .col-md-4(style={'margin-top':'5px'})
                    .input-group
                      span.input-group-addon
                        i.fa.fa-key.fa-fw
                      input.form-control.btn-default(type='password', name="repassword", placeholder='#{contenido.repetir_contraseña}')
                  // Nombre de Usuario
                  .col-md-4
                    .input-group(style={'margin-top':'5px'})
                      span.input-group-addon
                        i.fa.fa-user.fa-fw
                      input.form-control.btn-default(type='text', name="username", placeholder='#{contenido.username}')
                  // Nombre
                  .col-md-4(style={'margin-top':'5px'})
                    .input-group
                      span.input-group-addon
                        i.fa.fa-user.fa-fw
                      input.form-control.btn-default(type='text', name="name", placeholder='#{contenido.nombre}')
                  // Apellidos
                  .col-md-4(style={'margin-top':'5px'})
                    .input-group
                      span.input-group-addon
                        i.fa.fa-user.fa-fw
                      input.form-control.btn-default(type='text', name="surname", placeholder='#{contenido.apellidos}')
                  .col-lg-12.container-fluid(style={margin: '0 auto', float: 'none'})
                    .input-group(style={'padding-top':'5px'})
                      span.input-group-addon
                        i.fa.fa-sign-in.fa-fw
                      input.form-control.btn-success(type="submit", value="#{contenido.registrarse}")
      // olvidaste contraseña
      .section.clearfix.object-non-visible(data-animation-effect='fadeInRightBig')
        .container
          .row
            .col-md-12
              h1#olvidaste.title.text-center #{contenido.recuperar}
                span  #{contenido.contraseña}
              p.lead.text-center !{contenido.recuperar_contraseña_info}
              .space
              .row
                form#form_olvidaste(action="/app/usuarios/olvidaste" method="POST" style={padding: '5%', background: 'rgba(0,50,187, 0.1)', margin: '0 auto',  width: '80%'}).form-horizontal.container-fluid
                  .col-lg-12.text-center
                    i.fa.fa-send(style="font-size: 100px;color: #00bbff")
                  .col-lg-12
                    .input-group(style={'margin-top':'5px'})
                      span.input-group-addon
                        i.fa.fa-envelope-o.fa-fw
                      input#form_olvidaste_email.form-control.btn-default(requires = '', type='text', name="email", placeholder='#{contenido.usuario_o_email}')
                  .col-lg-12.container-fluid(style={margin: '0 auto', float: 'none'})
                    .input-group(style={'padding-top':'5px'})
                      span.input-group-addon
                        i.fa.fa-send.fa-fw
                      input.form-control.btn-success(type="submit", value="#{contenido.enviar_email}")
block script
  script.
    $('#form_olvidaste').submit(function(e){
      e.preventDefault();
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/app/usuarios/olvidaste', true);
      xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
      //alert(JSON.stringify({email : $('#form_olvidaste_email').val()}));
      xhr.send(JSON.stringify({email : $('#form_olvidaste_email').val()}));

      xhr.onreadystatechange = function(){
        if(xhr.status === 200 && xhr.readyState === 4)
          BootstrapDialog.show({
            title : 'OK',
            message : JSON.parse(xhr.responseText).msg,
            onshow : function(dialog){
              console.log('dialog cambia color ');
              $(dialog.getModalHeader()).css('background', '#4dac26');
            }
          });
        else if(xhr.status === 500 && xhr.readyState === 4)
          BootstrapDialog.show({
            title : 'ERROR',
            message : JSON.parse(xhr.responseText).msg,
            onshown : function(dialog){
              $(dialog.getModalHeader()).css('background', '#800000');
            }
          });
      }
    });