doctype 
html
	head
		block meta
		//the viewport is important for mobile devices
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
		// bootstrap social
		link(rel='stylesheet', href='https://bootswatch.com/united/bootstrap.min.css')
		//boptstrap theme
		link(rel='stylesheet', href='/stylesheets/style.css')
		// estilos
		//link(rel='stylesheet', href='/stylesheets/noJS.css')
		link(rel='stylesheet', href='/foundation-icons/foundation-icons.css')
		// foundation icon
		script(src='//cdn.tinymce.com/4/tinymce.min.js')
		
		link(rel='stylesheet', href='/stylesheets/profile-menu.css')

		link(href="http://fonts.googleapis.com/css?family=Average|Courgette" rel="stylesheet" type="text/css")
		script(type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(type="text/javascript" src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		//script(type="text/javascript" src='/javascripts/jquery.hoverdir.js')
		//script(type="text/javascript" src='/javascripts/modernizr.custom.97074.js')
		script(type='text/javascript' src='/javascripts/bootstrap-dialog.js')
		script(type='text/javascript' src='/javascripts/particulas.js')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/css/bootstrap-dialog.min.css')

		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
				
		//
		script.
			$(function(){
			
				$('[data-toggle="tab"]').popover({
				    trigger: 'hover',
				    'placement': 'top'
				});
			
			
			
				// Para que no se cierre el menú de inicio
				$('.dropdown').on('hide.bs.dropdown', function () {
				    return false;
				});
				
				$('#sign').on('mouseover',function(){
					$('.dropdown').addClass('open');
					//foo = true;
				}).on('mouseout', function(e){
					if($(e.target).is('input')){
						$('.dropdown').addClass('open');
						//alert('fooo');
					}
					else {
						//alert('baaar');
						$('.dropdown').removeClass('open');
						//foo = false;
					}
				});
				
				//
				var aux = false;
				function addClass(){
					
					$('#menuapp').addClass('goToTop');
					$('.navbar-brand, .navbar-nav > li >  a').addClass('goToTop2');
					$('.top-shadow').css({'display':'block'});
					if(!aux){
						$('.navbar-brand').fadeOut(500, function(){
							$(this).html("<i style='color:#ffbb00;font-size:65px;' class='fa fa-bullhorn'/>"+
							"  <i style='color:#00bbff;font-size:65px' class='fa fa-exclamation'/>").fadeIn(500);
						});
						aux = true;
					}
				}
				function removeClass(){
					$('#menuapp').removeClass('goToTop');
					$('.navbar-brand, .navbar-nav > li > a').removeClass('goToTop2');
					$('.top-shadow').css({'display':'none'});
					if(aux){
						$('.navbar-brand').fadeOut(0, function(){
							$(this).html("informaTorrent!").fadeIn(500);
						});
						aux = false;
					}
				}
				// NAVBAR
				var navHeight = $("#imgheader").height();
				($(window).scrollTop() > navHeight) ? addClass() : removeClass();
				// Cuando accedemos desde url#scroll
				$(window).bind('scroll', function() {
					var navHeight = $("#imgheader").height();
					($(window).scrollTop() > navHeight) ? addClass() : removeClass();
				});
			
				//TEXTAREA WYSIWYG EDITOR
				tinymce.init({
					selector: 'textarea',
					plugins: ['advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
					'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
					'save table contextmenu directionality emoticons template paste textcolor'],
					theme: 'modern',
					language_url: '/langs/es.js',
					min_width: 300,
					resize: false
				});
			
			
				if('#{message}' != undefined)
				{
					//alert('#{message}');
					msg_error = '#{message.error}';
					msg_success = '#{message.success}';
					msg_info = '#{message.info}';
					//alert(msg_error + msg_success + msg_info);
					if(msg_error || msg_success || msg_info)
					{
						var type = undefined;
						var title = '';
						var msg = '';
						
						if (msg_error){
							title = 'Error';
							type = BootstrapDialog.TYPE_DANGER;
							msg = msg_error;
						}
						if (msg_success){ 
							title = 'Completado';
							type = BootstrapDialog.TYPE_SUCCESS;
							msg = msg_success;
						}
						if (msg_info){ 
							title = 'Info';
							type = BootstrapDialog.TYPE_INFO;
							msg = msg_info;
						}
						if (type)
							BootstrapDialog.show({
								type: type,
								title: title,
								message: msg,
								buttons: [{
								label: 'Cerrar',
								action: function(dialog){dialog.close()}
								}]
							}); 			
					}
				}
			});
		block script
	body(style={'background':'#fff'})
		div#fb-root 
		// SDK Facebook
		script(src="/javascripts/share.js" type="text/javascript") 
		div#imgheader(style={ width:'100%','height':'700px',background:'url(http://torrentaldia.com/wp-content/uploads/2014/03/MG_7829b.jpg)','background-size':'100% 100%', 'background-repeat':'no repeat'})
			div(style={display:'flex', 'align-items':'center',position:'relative', top:'500px', width:'100%', background:'rgba(100,100,100,0.5)', height:'200px'})
				h1(style={color:'#ffbb00', 'font-weight':'bold', margin:'0 auto'}) #{title}
				h2(style={color:'#00bbff', 'font-weight':'bold', margin:'0 auto'}) #{subtitle}
		include ./includes/menuapp.jade
		div.top-shadow
		div.container-fluid(style={padding:'0px'})
			div#scroll(style={height:'73px', background:'rgba(200,50,0,0.3)',display:'flex'})
				div(style={float:'left', position:'absolute', 'margin':'1px 0px 0px 15px'})
					i.fa.fa-bullhorn(style={color:'#ffbb00','font-size':'65px', 'float':'left',position:'relative', top:'0px'})
					h1(style={margin:'0px','float':'left', position:'relative', top:'8px', color: '#fff'}) informaTorrent
					i.fa.fa-exclamation(style={color:'#00bbff','font-size':'65px','float':'left',position:'relative', top:'0px'})
				div(style={height:'10px',width:'100%', background:'rgba(255,187,0,0.3)', 'align-self':'flex-end',margin:'0px'})
			
			div(class="container-fluid" style={'padding-left':'0px', 'padding-right':'0px'})
				div(class="grid-block-container" style="position: fixed; width: 100%; height: 100%; bottom: 0px; z-index: -1")
				div(style="position: relative; width: 80%; margin: 0 auto;")
					block content
					div(class="top-shadow-no-fixed container" id="blur" style="border-top-left-radius: 20px; border-top-right-radius: 20px; width: 100%; position: absolute;background: linear-gradient(180deg, rgba(255,255,255,0.3), rgba(255,255,255,0.1), rgba(255,255,255,0.3)),url('https://photosbybishop.files.wordpress.com/2013/06/jbd_4266.jpg'); background-size: 100% 100%; min-height: 500px;")
					include ./includes/particulas.jade
					div(class="col-lg-4" style={'margin-top':'75px !important'})
						div(class="centerCol" style="align-self: center; background: rgba(200,50, 0, 0.5);border-radius: 4px; padding: 10px;min-height:350px;")
							div(class="centerRow")
								img(data-toggle="tab" data-content="OGC" style="width: 23%; padding: 1%;" src="http://www.virtualcitysystems.de/images/vcs/OGC_Logo.png")
								img(data-toggle="tab" data-content="INSPIRE" style="width: 23%; padding: 1%;" src="http://www.linkvit.eu/wp-content/uploads/2014/10/inbspire.png")
								img(data-toggle="tab" data-content="IGN" style="width: 23%; padding: 1%;" src="http://www.ign.es/ign/img/guiaNavegacion/Banner_insti_IGN.png")
								img(data-toggle="tab" data-content="UPV" style="width: 23%; padding: 1%;" src="http://www.damres.webs.upv.es/portada/LogoUPV.png")
		
							div(class="centerRow")
								img(data-toggle="tab" data-content="ETSIGCT" style="width: 23%; padding: 1%; clear: both;" src="http://jllerma.webs.upv.es/esc-gct.gif")
								img(data-toggle="tab" data-content="Node JS" style="width: 23%; padding: 1%; clear: both;" src="http://code-maven.com/img/node.png")
								img(data-toggle="tab" data-content="PostgreSQL" style="width: 23%; padding: 1%; clear: both;" src="http://3.bp.blogspot.com/-H9Vx0ecAx_E/U6xfwVosNqI/AAAAAAAAAe4/QNCuwOf50HI/s1600/postgresql_logo-555px.png")
								img(data-toggle="tab" data-content="PostGIS" style="width: 23%; padding: 1%; clear: both;" src="http://boundlessgeo.com/wp-content/uploads/2015/10/post-gis.png")
		
							div(class="centerRow")
								img(data-toggle="tab" data-content="HTML5, CSS3, JS5" style="width: 46%; padding: 1%; clear: both;" src="http://www.murciastudio.es/wp-content/uploads/2015/01/languages.png")
								img(data-toggle="tab" data-content="GEOSERVER" style="width: 23%; padding: 1%; clear: both;" src="http://boundlessgeo.com/wp-content/uploads/2012/10/GeoServer_Icon1.png")
								img(data-toggle="tab" data-content="BOOTSTRAP" style="width: 23%; padding: 1%; clear: both;" src="http://www.brucehan.me/img/10.Bootstrap.png")
		
							div(class="centerRow")
								img(data-toggle="tab" data-content="SOCKET.IO" style="width: 46%; padding: 1%; clear: both;" src="http://www.cnydev.org/wp-content/uploads/2015/03/socketio2.png")
								img(data-toggle="tab" data-content="OPENLAYERS 3" style="width: 23%; padding: 1%; clear: both;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/OpenLayers_logo.svg/2000px-OpenLayers_logo.svg.png")
					
					div(class="col-lg-4" style={'margin-top':'75px !important'})
						div(style="background: rgba(200,50, 0, 0.5);border-radius: 4px;padding: 10px;min-height:350px;" class="centerCol")
							p(style="text-align: center; color: #fff") Proyecto de IDE, Geoportal y aplicación de denuncias para el ayuntamiento de Torrent.
							p(style="text-align: center; color: #fff") Desarrollado por Jose Ángel Hermosilla Rodrigo como Trabajo de Fin de Grado.
							p(style="text-align: center; color: #fff") Universidad Politécnica de Valencia
							p(style="text-align: center; color: #fff") Escuela Técnica Superior de Ingeniería en Geomática y Topografía
							p(style="text-align: center; color: #fff") &copy; Todos los derechos reservados. (2015 - 2016)
				
					div(class="col-lg-4" style={'margin-top':'75px !important'})
						div(style="background: rgba(200,50, 0, 0.5);border-radius: 4px;padding: 10px;min-height:350px;" class="centerCol")
