doctype 
html
	head
		block meta
		//the viewport is important for mobile devices
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
		// bootstrap social
		link(rel='stylesheet', href='https://bootswatch.com/united/bootstrap.min.css')
		//boptstrap theme
		link(rel='stylesheet', href='/stylesheets/style.css')
		// estilos
		//link(rel='stylesheet', href='/stylesheets/noJS.css')
		link(rel='stylesheet', href='/foundation-icons/foundation-icons.css')
		// foundation icon
		
		link(rel='stylesheet', href='/stylesheets/profile-menu.css')

		link(href="http://fonts.googleapis.com/css?family=Average|Courgette" rel="stylesheet" type="text/css")
		script(type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(type="text/javascript" src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		//script(type="text/javascript" src='/javascripts/jquery.hoverdir.js')
		//script(type="text/javascript" src='/javascripts/modernizr.custom.97074.js')
		script(type='text/javascript' src='/javascripts/bootstrap-dialog.js')
		script(type='text/javascript' src='/javascripts/particulas.js')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/css/bootstrap-dialog.min.css')
		link(rel="stylesheet" href="/editor/minified/themes/default.min.css" type="text/css" media="all")
		script(type="text/javascript" src="/editor/minified/jquery.sceditor.bbcode.min.js")
		
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
				
		//
		script.
			$(function(){
			
				$('[data-toggle="tab"]').popover({
				    trigger: 'hover',
				    'placement': 'top'
				});
			
			
			
				// Para que no se cierre el menú de inicio
				$('.dropdown').on('hide.bs.dropdown', function () {
				    return false;
				});
				
				$('#sign').on('mouseover',function(){
					$('.dropdown').addClass('open');
					//foo = true;
				}).on('mouseout', function(e){
					if($(e.target).is('input')){
						$('.dropdown').addClass('open');
						//alert('fooo');
					}
					else {
						//alert('baaar');
						$('.dropdown').removeClass('open');
						//foo = false;
					}
				});
				
				//
				var aux = false;
				function addClass(){
					
					$('#menuapp').addClass('goToTop');
					$('.navbar-brand, .navbar-nav > li >  a').addClass('goToTop2');
					$('.top-shadow').css({'display':'block'});
					if(!aux){
						$('.navbar-brand').fadeOut(500, function(){
							$(this).html("<i style='color:#ffbb00;font-size:65px;' class='fa fa-bullhorn'/>"+
							"  <i style='color:#00bbff;font-size:65px' class='fa fa-exclamation'/>").fadeIn(500);
						});
						aux = true;
					}
				}
				function removeClass(){
					$('#menuapp').removeClass('goToTop');
					$('.navbar-brand, .navbar-nav > li > a').removeClass('goToTop2');
					$('.top-shadow').css({'display':'none'});
					if(aux){
						$('.navbar-brand').fadeOut(0, function(){
							$(this).html("informaTorrent!").fadeIn(500);
						});
						aux = false;
					}
				}
				// NAVBAR
				var navHeight = $("#imgheader").height();
				($(window).scrollTop() > navHeight) ? addClass() : removeClass();
				// Cuando accedemos desde url#scroll
				$(window).bind('scroll', function() {
					var navHeight = $("#imgheader").height();
					($(window).scrollTop() > navHeight) ? addClass() : removeClass();
				});
			
				//TEXTAREA WYSIWYG EDITOR
				$("textarea").sceditor({
					plugins: "xhtml",
					style: "/editor/minified/jquery.sceditor.default.min.css",
					emoticonsRoot: '/editor/'
				});
			
			
				if('#{message}' != undefined)
				{
					//alert('#{message}');
					msg_error = '#{message.error}';
					msg_success = '#{message.success}';
					msg_info = '#{message.info}';
					//alert(msg_error + msg_success + msg_info);
					if(msg_error || msg_success || msg_info)
					{
						var type = undefined;
						var title = '';
						var msg = '';
						
						if (msg_error){
							title = 'Error';
							type = BootstrapDialog.TYPE_DANGER;
							msg = msg_error;
						}
						if (msg_success){ 
							title = 'Completado';
							type = BootstrapDialog.TYPE_SUCCESS;
							msg = msg_success;
						}
						if (msg_info){ 
							title = 'Info';
							type = BootstrapDialog.TYPE_INFO;
							msg = msg_info;
						}
						if (type)
							BootstrapDialog.show({
								type: type,
								title: title,
								message: msg,
								buttons: [{
								label: 'Cerrar',
								action: function(dialog){dialog.close();}}]
							}); 			
					}
				}
			});
		block script
	body(style={'background':'#fff'})
		div#fb-root 
		// SDK Facebook
		script(src="/javascripts/share.js" type="text/javascript") 
		div#imgheader(style={ width:'100%','height':'700px',background:'url(http://torrentaldia.com/wp-content/uploads/2014/03/MG_7829b.jpg)','background-size':'100% 100%', 'background-repeat':'no repeat'})
			div(style={display:'flex', 'align-items':'center',position:'relative', top:'500px', width:'100%', background:'rgba(100,100,100,0.5)', height:'200px'})
				h1(style={color:'#ffbb00', 'font-weight':'bold', margin:'0 auto'}) #{title}
				h2(style={color:'#00bbff', 'font-weight':'bold', margin:'0 auto'}) #{subtitle}
		include ./includes/menuapp.jade
		div.top-shadow
		div.container-fluid(style={background:'#fff', padding:'0px'})
			div#scroll(style={height:'73px', background:'#f7f7f7',display:'flex'})
				div(style={float:'left', position:'absolute', 'margin':'1px 0px 0px 15px'})
					i.fa.fa-bullhorn(style={color:'#ffbb00','font-size':'65px', 'float':'left',position:'relative', top:'0px'})
					h1(style={margin:'0px','float':'left', position:'relative', top:'8px'}) informaTorrent
					i.fa.fa-exclamation(style={color:'#00bbff','font-size':'65px','float':'left',position:'relative', top:'0px'})
				div(style={height:'10px',width:'100%', background:'#ffbb00', 'align-self':'flex-end',margin:'0px'})
			include ./includes/particulas.jade
			div.body
				block content
			div#footer(style={position:'relative',height:'300px', background:'#ffbb00', 'margin-top':'50px','z-index':'6'})
				.col-md-4.centrado skjhskjhskj
				.col-md-4.centrado shkjhskjshjs
				.col-md-4.centrado lslkjskljs