html
  head
    block meta
    // block meta
    meta(charset='utf-8')
    // Para dispositivos móviles
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    // Panel Lateral
    link(rel='stylesheet', href='/stylesheets/panel-lateral.css')
    // Bootstrap CSS
    link(rel='stylesheet', type='text/css', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    // Font Awesome Iconos
    link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.css')
    // Fuentes
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:700,400,300', rel='stylesheet', type='text/css')
    // CSS Principal
    link(rel='stylesheet', href='/stylesheets/style.css')
    // CSS Animaciones
    link(rel='stylesheet', href='/stylesheets/animations.css')
    // Highlight CSS
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css')
    // LayerSwitcher CSS
    link(rel='stylesheet', href='/javascripts/plugins/ol3-layerswitcher/src/ol3-layerswitcher.css')
    // OpenLayers CSS
    link(rel='stylesheet', href='/javascripts/plugins/ol3/ol.css', type='text/css')
    // CSS OpenLayers Popup
    link(rel='stylesheet', href='http://openlayers.org/en/v3.11.0/examples/popup.css')
    // Prefix free
    script(src='https://raw.githubusercontent.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js')
    // Bootstrap Select
    link(rel="stylesheet" href="/javascripts/plugins/bootstrap-select/dist/css/bootstrap-select.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker.css")
    
    block link
  body(style="margin-top: -10px;")
    - var nuevas = 0;
    if locals.user && mis_notificaciones
      each noti in mis_notificaciones
        if noti.vista == false
          - nuevas ++;    
    ul
      li(style="position: absolute; top: 25px; left: 50px;z-index: 1;background: rgba(250,250,250,0.7); border-radius: 5px; padding: 5 30 5 5px;")
        a(href='#' style="height: 100%; z-index: 1;" data-toggle="dropdown")
          if(user)
            img.img-responsive-img-thumbnail.img-circle.pull-left(src="#{locals.user.profile.picture}" style="height: 40px; width: 40px; margin: 0 5 0 0px;")
            span(style="margin-left: -15px; margin-top: 25px;").badge.noti_up #{nuevas}
          else
            img.img-responsive-img-thumbnail.img-circle.pull-left(src="http://appstudio.windows.com/Content/img/temp/icon-user.png" style="height: 40px; width: 40px; margin: 0 5 0 0px;")          
          i.fa.fa-chevron-down(style="font-size: 2em; position: absolute; top: 10px; right: 5px;")
        ul.dropdown-menu.dropdown(style="width: 100%; background: rgba(250,250,250,0.7);")
          li
            a(href="/app") 
              i.fa.fa-home 
              |  Inicio
          li
            a(href="/app/visor") 
              i.fa.fa-globe
              |  Visor tiempo real
          li
            a(href="/app/denuncias?page=1") 
              i.fa.fa-list
              |  Denuncias
          if user
            li
              a(href="/app/perfil#notificaciones")
                i.fa.fa-inbox
                |  Notificaciones
                span(style="margin-left: 5px;").badge.noti_up #{nuevas}
            li.dropdown
              a(href="/app/perfil") 
                i.fa.fa-user
                |  Mi perfil
            li.dropdown
              a(href="/app/denuncias/nueva") 
                i.fa.fa-plus
                |  Nueva denuncia
            li
              a(href="/app/logout") 
                i.fa.fa-sign-out
                |  Cerrar sesión
    // header-right end
    // header end
    // section start
    // ================
    
    #map.clearfix.object-non-visible(data-animation-effect='fadeInRightBig')
      // Popup Info
      #popup.ol-popup
        a#popup-closer.ol-popup-closer(href='#')
        #popup-content
      // Popup info denuncias
      #popup-visor.ol-popup.hidden(style="z-index: 3; height: 350px; width: 350px;")
        a#popup-visor-closer.ol-popup-closer(href='#')
        #popup-visor-content(style="width: 100%; max-height: 300px; overflow-x: hidden; overflow-y: scroll; word-wrap: break-word;")
      #numdenun.ol-unselectable.ol-control(data-toggle="left" title="Denuncias" data-content="Denuncias totales" style="position: fixed; bottom: 11.125em; right: 0.5em;border-radius: 4px; background: #00bbff; color: #fff;padding: 5px;z-index: 1;")
        i.fa.fa-bullhorn(style="margin-right: 5px;")
        | #{locals.datos_app.num_denun_total}
      #numdenunhoy.ol-unselectable.ol-control(data-toggle="left" title="Denuncias" data-content="Denuncias diarias" style="position: fixed; bottom: 14em; right: 0.5em;border-radius: 4px; background: #00bbff; color: #fff;padding: 5px;z-index: 1;")
        i.fa.fa-bullhorn(style="margin-right: 5px;")
        | #{locals.datos_app.num_denun_hoy}
      #numusu.ol-unselectable.ol-control(data-toggle="left" title="Usuarios" data-content="Usuarios conectados" style="position: fixed; bottom: 16.875em; right: 0.5em;border-radius: 4px; background: #00bbff; color: #fff;padding: 5px; z-index:1;")
        i.fa.fa-user(style="margin-right: 5px;")
    // section end
  block panel-lateral
    
  // Plugins Javascript situados al final de la página, así el contenido carga antes
  // JQuery y Bootstrap
  script.
    var usuario_id = '#{locals.user ? locals.user._id : undefined}';
  script(src='http://code.jquery.com/jquery-1.11.1.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  // Modernizr
  script(type='text/javascript', src='/javascripts/plugins/modernizr.js')
  // Jquery appear
  script(type='text/javascript', src='/javascripts/plugins/jquery.appear.js')
  // JS Principal
  script(type='text/javascript', src='/javascripts/template.js')
  // Útiles para denuncias, notificaciones, acciones
  script(type='text/javascript', src='/javascripts/utils.js')
  // FitText.js
  script(type='text/javascript', src='/javascripts/plugins/jquery.fittext.js')
  // Bootstrap Dialog JS (Nakupanda)
  script(type='text/javascript', src='/javascripts/plugins/bootstrap-dialog.js')
  // Highlight JS
  script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js')
  // Abrir cerrar header efecto movil mapa
  script(src='/javascripts/close_header_mobile_map.js')
  // Proj4.js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.12/proj4.js')
  // OpenLayers.js
  script(src='/javascripts/plugins/ol3/ol.js')
  // LayerSwitcher JS
  script(src='/javascripts/plugins/ol3-layerswitcher/src/ol3-layerswitcher.js')
  // Estilos Features
  script(src='/javascripts/openlayers/style.js')
  // proyección
  script(src='/javascripts/openlayers/proj.js')
  // Capas
  script(src='/javascripts/openlayers/capas.js')
  // SOCKET.IO
  script(src="https://cdn.socket.io/socket.io-1.3.7.js")
  // Bootstrap Select JS
  script(src="/javascripts/plugins/bootstrap-select/js/bootstrap-select.js")
  script.
    var ip = '#{ip}';
    var id_usuario = '#{id_usuario}';
  // FUNCIONALIDADES SOCKET.IO
  script(src="/javascripts/client-sockets.js")
      
  script(type='text/javascript').
    $("h1, h2").each(function(){
      var fontSize = $(this).css('font-size');
      console.log(fontSize);
      $(this).fitText(1.1, {maxFontSize: fontSize});
    });
    
    // MousePosition Control --> ol.control.MousePosition
    var mousePositionControl = new ol.control.MousePosition({
      coordinateFormat: ol.coordinate.toStringHDMS,
    });
    
    // Mapa --> ol.Map
    var map = new ol.Map({
      controls: ol.control.defaults({
        attribution: false // No atribución
      }).extend([mousePositionControl, // MousePosition
        new ol.control.FullScreen(), // FullScreen
        new ol.control.LayerSwitcher({tipLabel: 'Leyenda'}), // LayerSwitcher
        new ol.control.ScaleLine(), // ScaleLine
        new ol.control.ZoomSlider(), // ZoomSlider
      ]),
      target: 'map',
      view: new ol.View({
        projection: proj,
        zoom: 3,
        center: ol.proj.fromLonLat([-0.47343, 39.42811], 'EPSG:4258'),
        minZoom: 0,
        maxZoom: 10
        // Importante poner nuestra proyección, aunque es un parámetro opcional HAY QUE PONERLO!
      })
    });
    
    ortoPNOA.setVisible(true);
    manzanas.setVisible(false);
    caminos.setVisible(false);
    viales.setVisible(false);
    nom_viales.setVisible(false);
    
    var groupCartoTorrentWMS = new ol.layer.Group({
      title: 'Cartografía de Torrent WMS',
      layers: [municipio, manzanas, viales, caminos, nom_viales, portales]
    });
    
    map.addLayer(groupCapasBase); // Añadimos grupo de Capas 1
    //map.addLayer(groupCartoTorrentWMST); // Añadimos grupo de Capas 2
    map.addLayer(groupCartoTorrentWMS); // Añadimos grupo de Capas 2
    
    // Añadimos Control OverviewMap
    map.addControl(new ol.control.OverviewMap({ 
      layers: [new ol.layer.Tile(ignBase.getProperties())],
      view: new ol.View({ // Importante añadir la View con nuestra proyección
        projection: proj
      })
    }));
    
    ignBase.setVisible(false);

  // Botones mapa 
  script(type='text/javascript', src='/javascripts/openlayers/controles/close_header.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/comentarios_denuncia.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/draw.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/get_feature_info.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/imagenes_denuncia.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/info_denuncia.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/lateral.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/like_denuncia.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/move.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/query_denuncias.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/tracking.js')
  // Block Script
  block script
  script.
    map.addControl(new app.GetFeatureInfo());
    map.addControl(new app.Move());
    map.addControl(new app.CloseHeader());
    map.addControl(new app.Tracking());
    $(function(){
      $('.dropdown-toggle').dropdown();
      $('[data-toggle="left"]').popover({
        trigger: 'hover',
        placement: 'left'
      });
    
      $('[data-toggle="right"]').popover({
        trigger: 'hover',
        placement: 'right'
      });
    });   
    $('#map').click(function(e){
      //alert('hideee');
      $('[data-toggle="right"], [data-toggle="left"]').popover('hide');
    });
     
