extends layout
block content
	.section.clearfix.object-non-visible(data-animation-effect='fadeInRightBig')
		// Header Inicio Perfil +  Nombre Usuario
		.container
			.row
				.col-md-12
					h1#iniciar.title
						i.fa.fa-user(style={'margin-left':'5px', 'margin-right': '5px'})
						span #{user.profile.nombre} #{user.profile.apellidos}
		// Contenedor del contenido del perfil
		.container
			.row
				// Columna Izquierda
				.col-md-4
					.row(style="margin:0 5 0 5px;")
						div(style={background: 'rgba(0,50,187, 0.1)', width: '100%', padding:'10 5 10 5px'}).form-horizontal.text-center
							img.img-circle.img-responsive.img-thumbnail(src="#{user.profile.picture}" style={'margin': '0 auto', 'width':'200px','height':'200px'})
							.space
							a.btn.btn-default(href="/app/denuncias/nueva" style={'min-width': '250px'}) Nueva Denuncia
							.space
							a.btn.btn-default(href="/app/perfil/editar" style={'min-width': '250px'}) Editar Perfil
							.space
							a.btn.btn-default(style={'width': '250px'} href="/app/perfil/editar_loc") Editar localización
							.space
							a.btn.btn-danger(href="/app/logout" style={'width': '250px'}) Cerrar Sesión
				// Columna Central
				.col-md-8
					.row(style="margin:0 5 0 5px;")
						div(style={background: 'rgba(0,50,187, 0)', width: 'auto; margin: 0 auto;'}).form-horizontal.text-center
							#accordion.panel-group(role='tablist', aria-multiselectable='true')
								.panel.panel-default
									// Notificaciones
									#headingOne.panel-heading(role='tab')
										h4.panel-title
											a(data-toggle='collapse' data-parent='#accordion' href='#notificaciones' aria-expanded='true' aria-controls='notificaciones')
												.col-lg-12.text-center
													i.fa.fa-inbox
													|  Notificaciones
												div(style="position: absolute;top: 30%;left:1%;")
													span.badge(style="background:#5BC0DE;float:left").noti_tot #{misNotificaciones.length}
													span.badge(style="background:#D9534F;float:right").noti_up #{nuevas}
									#notificaciones.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
										.panel-body(style='text-align: center;height: 60%;overflow-y:scroll;')
											each noti in misNotificaciones
												.row(style={margin: '0 5 10 5px', background: 'rgba(0,50,187,0.1)', padding: '5%'} id_noti="#{noti.id_noti}" vista="#{noti.vista}").noti
													if (noti.vista == false)
														.col-lg-12.btn.btn-danger(style="margin-bottom: 10px" id_noti_panel="#{noti.id_noti}") NUEVA
													.col-xs-2
														a(target="_blank" href="/app/usuarios/#{noti.id_usuario_from}")
															img.img-responsive.img-thumbnail.img-circle(src="#{noti.profile_from.picture}" style={'width':'50px', 'height':'50px'})
														if(noti.tipo == 'DENUNCIA_CERCA')
															span.fa-stack.fa-lg
																i.fa.fa-circle.fa-stack-2x(style="color: #339BEB")
																i.fa.fa-map-marker.fa-stack-1x.fa-inverse
														else
															span.fa-stack.fa-lg
																i.fa.fa-circle.fa-stack-2x(style="color: #339BEB")
																i.fa.fa-comments.fa-stack-1x.fa-inverse															
													.col-xs-10
														.col-lg-12
															p.lead #{noti.fecha}
														p.lead 
															span 
																a(target="_blank" href="/app/usuarios/#{noti.id_usuario_from}") #{noti.profile_from.username}
															if(noti.tipo == 'DENUNCIA_CERCA')
																|  ha publicado una 
																span 
																	a(href="/app/denuncia/#{noti.id_denuncia}") denuncia
																|  cerca de tu ubicación
															else
																|  ha comentado una 
																span
																	a(href="/app/denuncia/#{noti.id_denuncia}")  denuncia tuya
								.panel.panel-default
									// Notificaciones
									#headingTwo.panel-heading(role='tab')
										h4.panel-title
											a(data-toggle='collapse', data-parent='#accordion', href='#mis_denuncias', aria-expanded='true', aria-controls='mis_denuncias')
												i.fa.fa-files-o
												| Mis Denuncias
									#mis_denuncias.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
										.panel-body(style='text-align: center;height: 60%;overflow-y:scroll;')
											p.lead ¡Has realizado 
												span#has_realizado.lead #{misDenuncias.length} 
												| denuncias!
											- var count = 1;
											each denuncia in misDenuncias
												// Contenedor
												.row(id="#{denuncia.gid}" style={margin: '0 5 10 5px', background: 'rgba(0,50,187,0.1)', padding: '5%'})
													.col-lg-12
														// Nombre denuncia
														p.lead.btn-warning(style={'word-break':'break-all', 'border':'1px solid #fff'})
															| #{denuncia.titulo}
														// Fecha Denuncia
														p.btn-default.lead(style={margin: '10 0 20 0px'}) #{denuncia.fecha}
													.col-lg-12
														.col-md-4(style={'padding':'0px'})
															div(style={width: '100%', margin: '0 auto'})
																if(denuncia.imagenes != null)
																	img.img-thumbnail.img-responsive(src="#{denuncia.imagenes[0].path}" style={'width':'100%'})
																else
																	img.img-thumbnail.img-responsive(src="/files/images/bg.jpg" style={'width':'100%'})
																// Coments Tags Imágenes
																.col-lg-12(style={'padding':'10 0 0 0px'}).text-center
																	p
																		i.fa.fa-comments
																			if denuncia.comentarios
																				| &nbsp #{denuncia.comentarios.length} &nbsp
																			else 
																				| &nbsp 0 &nbsp	
																		i.fa.fa-image
																			if denuncia.imagenes
																				| &nbsp #{denuncia.imagenes.length} &nbsp
																			else 
																				| &nbsp 0 &nbsp
																		i.fa.fa-tags
																			if denuncia.tags
																				| &nbsp #{denuncia.tags.length} &nbsp
																			else 
																				| &nbsp 0 &nbsp																		
														.col-md-8(style={'padding':'0px'})
															.col-lg-12(style={overflow: 'hidden', 'height': '23%', padding: '5px', 'white-space':'normal', 'text-overflow':'ellipsis', 'word-break':'break-all'}) !{denuncia.descripcion}														
															.col-md-4(style={'padding':'10 0 0 0px'})
																.input-group(style={'border-radius': '5px', padding: '0 5 0 5px'})
																	span.input-group-addon
																		i.fa.fa-eye
																	a(target="_blank" href="/app/denuncia/#{denuncia.gid}")
																		input.form-control.btn-default(type="button" value="VER" style={'border-top-right-radius': '5px', 'border-bottom-right-radius': '5px'})
															.col-md-4(style={'padding':'10 0 0 0px'})
																.input-group(style={'border-radius': '5px', padding: '0 5 0 5px'})
																	span.input-group-addon
																		i.fa.fa-pencil-square-o
																	a(target="_blank" href="/app/editar?id=#{denuncia.gid}")
																		input.form-control.btn-default(type="button" value="EDITAR" style={'border-top-right-radius': '5px', 'border-bottom-right-radius': '5px'})														
															.col-md-4(style={'padding':'10 0 0 0px'})
																.input-group(style={'border-radius': '5px', padding: '0 5 0 5px'})
																	span.input-group-addon
																		i.fa.fa-trash
																	button.form-control.btn-danger(onclick="eliminar('#{denuncia.gid}')" style={'border-top-right-radius': '5px', 'border-bottom-right-radius': '5px'}) ELIMINAR
												- count++;
								.panel.panel-default
									// Notificaciones
									#headingThree.panel-heading(role='tab')
										h4.panel-title
											a(data-toggle='collapse', data-parent='#accordion', href='#acciones', aria-expanded='true', aria-controls='acciones')
												i.fa.fa-files-o
												| Mis Acciones
									#acciones.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
										.panel-body(style='text-align: center;height: 60%;overflow-y:scroll;')
											p.lead ¡Has realizado 
												span#has_realizado.lead #{misAcciones.length} 
												| acciones!
											each noti in misAcciones
												.row(style={margin: '0 5 10 5px', background: 'rgba(0,50,187,0.1)', padding: '5%'})
													.col-xs-2
														a(target="_blank" href="/app/usuarios/#{noti.id_usuario_from}")
															img.img-responsive.img-thumbnail.img-circle(src="#{noti.profile_to.picture}" style={'width':'50px', 'height':'50px'})
														if(noti.tipo == 'DENUNCIA_CERCA')
															span.fa-stack.fa-lg
																i.fa.fa-circle.fa-stack-2x(style="color: #339BEB")
																i.fa.fa-map-marker.fa-stack-1x.fa-inverse
														else
															span.fa-stack.fa-lg
																i.fa.fa-circle.fa-stack-2x(style="color: #339BEB")
																i.fa.fa-comments.fa-stack-1x.fa-inverse															
													.col-xs-10
														.col-lg-12
															p.lead #{noti.fecha}
														p.lead 
															if(noti.tipo == 'DENUNCIA_CERCA')
																|  Has publicado una 
																span
																	a(href="/app/denuncia/#{noti.id_denuncia}") denuncia
																|  cerca de 
																span 
																	a(href="/app/usuarios/#{noti.id_usuario_to}")  #{noti.profile_to.username}
															else
																|  Has comentado una 
																span
																	a(href="/app/denuncia/#{noti.id_denuncia}") denuncia
																	|  del usuario 
																	span
																		a(href="/app/usuarios/#{noti.id_usuario_to}")  #{noti.profile_to.username}
block script
	script.
		function eliminar(id){
			//alert(id);
			BootstrapDialog.show({
				title: 'Eliminar denuncia',
				message: '¿Estás seguro de eliminar esta denuncia?',
				type: BootstrapDialog.TYPE_INFO,
				buttons: [
					{label: 'Aceptar', action: function(dialog){
						$.get('/app/eliminar?id=' + id,
						function(res){
							dialog.close();
							$('#' + id).remove();
							$('#has_realizado').html((parseInt($('#has_realizado').html()) -1) + ' ');
							BootstrapDialog.alert(res);
						});
					}}, 
					{label: 'Cancelar', action: function(dialog){dialog.close();}}
				]
			});
		}										