extends layout_sin_cabecera
block content
	.section.clearfix.object-non-visible(data-animation-effect='fadeInRightBig')
		// Header Inicio Perfil +  Nombre Usuario
		.container
			.row
				.col-md-12
					h1#iniciar.title
						i.fa.fa-user(style={'margin-left':'5px', 'margin-right': '5px'})
						span #{user.profile.nombre} #{user.profile.apellidos}
		// Contenedor del contenido del perfil
		.container
			.row
				// Columna Izquierda
				.col-md-4(style="margin-bottom: 10px;")
					.row(style="margin:0 5 0 5px;")
						div(style={'background-color': 'rgba(0,50,187, 0.1)', 'border-top-left-radius': '10px' , 'border-top-right-radius': '10px', padding: '0px'}).container-fluid
							div(style={'border-top-left-radius': '10px' , 'border-top-right-radius': '10px', background: 'url(http://www.lovevalencia.com/wp-content/uploads/2011/07/torrent-e1311319357479.jpg)', 'background-size':'100% 60%','background-repeat':'no-repeat', width: '100%', padding:'40 0 40 0px'}).text-center
								img.img-circle.img-responsive.img-thumbnail(src="#{user.profile.picture}" style={'margin': '0 auto', 'width':'200px','height':'200px'})
							.col-lg-12.text-center(style={'margin-bottom' : '40px'})
								a.btn.btn-default.col-lg-12(href="/app/denuncias/nueva" style={width : '100%'}) #{contenido.nueva + " " + contenido.denuncia}
								a.btn.btn-default.col-lg-12(href="/app/perfil/editar" style = {'margin-top':'5px', width : '100%'}) #{contenido.editar + " " + contenido.perfil}
								a.btn.btn-default.col-lg-12( href="/app/perfil/editar_loc" style = {'margin-top':'5px', width : '100%'}) #{contenido.editar + " " + contenido.localizacion}
								a.btn.btn-danger.col-lg-12(href="/app/logout" style = {'margin-top':'5px', width : '100%'}) #{contenido.cerrar_sesion}
				// Columna Central
				.col-md-8
					.row(style="margin:0 5 0 5px;")
						div(style={background: 'rgba(0,50,187, 0)', width: 'auto; margin: 0 auto;'}).form-horizontal.text-center
							#accordion.panel-group(role='tablist', aria-multiselectable='true')
								.panel.panel-default
									// Notificaciones
									#headingOne.panel-heading(role='tab')
										h4.panel-title
											a(data-toggle='collapse' data-parent='#accordion' href='#notificaciones' aria-expanded='true' aria-controls='notificaciones')
												.col-lg-12.text-center
													i.fa.fa-inbox
													|  #{contenido.notificaciones}
												div(style="position: absolute;top: 30%;left:1%;")
													span.badge(style="background:#5BC0DE;float:left").noti_tot 
														if mis_notificaciones
															|  #{mis_notificaciones.length}
														else 
															|  0
													span.badge(style="background:#D9534F;float:right").noti_up #{nuevas}
									#notificaciones.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
										.panel-body(style='text-align: center;')
											p.lead ยก#{contenido.tienes}
												span#has_realizado.lead 
													if nuevas
														|  #{nuevas} 
													else 
														|  0
												|  #{nuevas == 1 ? contenido.noti_sin_leer : contenido.notis_sin_leer}!
								.panel.panel-default
									// Denuncias
									#headingTwo.panel-heading(role='tab')
										h4.panel-title
											a(data-toggle='collapse', data-parent='#accordion', href='#mis_denuncias', aria-expanded='true', aria-controls='mis_denuncias')
												i.fa.fa-files-o
												| #{contenido.denuncias}
									#mis_denuncias.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
										.panel-body(style='text-align: center;')
											p.lead ยก#{contenido.has_publicado}
												span#has_realizado.lead 
													if misDenuncias 
														|  #{misDenuncias.length} 
													else 
														|  0
												|  #{misDenuncias.length == 1 ? contenido.denuncia.toLowerCase() : contenido.denuncias.toLowerCase()}!
								.panel.panel-default
									// Acciones
									#headingThree.panel-heading(role='tab')
										h4.panel-title
											a(data-toggle='collapse', data-parent='#accordion', href='#acciones', aria-expanded='true', aria-controls='acciones')
												i.fa.fa-files-o
												| #{contenido.acciones}
									#acciones.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
										.panel-body(style='text-align: center;')
											p.lead ยก#{contenido.has_realizado} 
												span#has_realizado.lead 
													if mis_acciones
														|  #{mis_acciones.length} 
													else 
														|  0
												|  #{mis_acciones.length == 1? contenido.accion.toLowerCase() : contenido.acciones.toLowerCase() }!
								.panel.panel-default
									// Denuncias Favoritas
									#headingFour.panel-heading(role='tab')
										h4.panel-title
											a(data-toggle='collapse', data-parent='#accordion', href='#favoritas', aria-expanded='true', aria-controls='favoritas')
												i.fa.fa-star
												| #{contenido.denuncias_fav}
									#favoritas.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
										.panel-body(style='text-align: center;')
											p.lead ยก!{denuncias_fav.length == 1 ? contenido.te_ha_gustado : contenido.te_han_gustado} 
												span.lead 
													if denuncias_fav
														|  #{denuncias_fav.length} 
													else 
														|  0
												|  #{denuncias_fav.length == 1 ? contenido.denuncia.toLowerCase() : contenido.denuncias.toLowerCase()}!
block script
	// OpenLayers.js
	script(src='/javascripts/plugins/ol3/ol.js')
	script.
		fillAcciones(JSON.parse('!{JSON.stringify(mis_acciones)}'), traducciones);
		fillNotificaciones(JSON.parse('!{JSON.stringify(mis_notificaciones)}'), traducciones);
		fillDenuncias(JSON.parse('!{JSON.stringify(misDenuncias)}'));
		fillFavoritas(JSON.parse('!{JSON.stringify(denuncias_fav)}'));