extends ../base/layout_sin_cabecera
block link
	// Bootstrap Select
	link(rel="stylesheet" href="/javascripts/plugins/bootstrap-select/dist/css/bootstrap-select.css")
	// LayerSwitcher CSS
	link(rel='stylesheet', href='/javascripts/plugins/ol3-layerswitcher/src/ol3-layerswitcher.css')
	// OpenLayers CSS
	link(rel='stylesheet', href='/javascripts/plugins/ol3/ol.css', type='text/css')
	// CSS OpenLayers Popup
	link(rel='stylesheet', href='http://openlayers.org/en/v3.11.0/examples/popup.css')
	// Prefix free
	script(src='https://raw.githubusercontent.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js')
block content
	.section.clearfix.object-non-visible(data-animation-effect='fadeInRightBig')
		// Header Inicio Perfil +  Nombre Usuario
		.container
			.row
				.col-md-12
					h1#iniciar.title
						i.fa.fa-user(style={'margin-left':'5px', 'margin-right': '5px'})
						span Editar Perfil
		// Contenedor del contenido del perfil
		.container
			.row
				.col-lg-4
					form#imagen_change.form-horizontal.text-center
						#imagen
							img#imagenperfil.img-responsive.img-thumbnail.img-circle(src="#{user.profile.picture}" style="height:200px; width: 200px; -top: 30px;")
						.space
						h4 Cambiar Imagen
						p Selecciona una imagen...
						input#cambiarImagen.btn.btn-default(type="file" style="max-width:80%; margin: 0 auto;" name="file")
						p o 
						select.selectpicker
							option
								a Seleciona una opción
							option
								a gravatar aleatorio
							if user
								if user.facebook
									option
										a Avatar Facebook
								if user.twitter
									option
										a Avatar Twitter
				.col-lg-8
					h4 Datos Generales del Usuario
					p Edita tus datos personales. Recuerda que tu nombre no es visible por ningún usuario de la aplicación.
					.col-lg-6(style="padding : 2px;")
						form.form-horizontal
						.input-group(style={'margin-top':'5px'})
							span.input-group-addon Nombre
							input#nombre.form-control.btn-default(type='text', name="nombre", value="#{user.profile.nombre}")
						.space
					.col-lg-6(style="padding : 2px;")
						form.form-horizontal
						.input-group(style={'margin-top':'5px'})
							span.input-group-addon Apellidos
							input#apellidos.form-control.btn-default(type='text', name="apellidos", value="#{user.profile.apellidos}")
						.space
					.col-lg-6(style="padding : 2px;")
						form.form-horizontal
						.input-group(style={'margin-top':'5px'})
							span.input-group-addon
								i.fa.fa-user.fa-fw
							input#nombre_usuario.form-control.btn-default(type='text', name="username", value="#{user.profile.username}")
						.space
					.col-lg-12.text-center(style="padding : 2px;")
						button#actualizar.btn.btn-default(style="margin : 0px auto; width : 100%;") ACTUALIZAR
					.col-lg-12(style="padding : 2px;")
						h4 Cambiar contraseña
						p Accede al formulario para cambiar la contraseña pulsando 
							a(href="/app/usuarios/perfil/password", target = "_blank") aquí
				.col-lg-12(style="margin: 10 0 10 0px")
					h4 Cuentas linqueadas en redes sociales
					p Linquea o deslinquea cuentas de tus redes sociales
					.col-lg-6.text-center(style="padding : 2px;")
						if user.twitter
							a.btn.btn-default(style="width: 100%; padding: 50px;")
								i.fa.fa-twitter(style="margin-right: 5px;")
								| #{user.twitter.username}
								a.btn.btn-danger(style="width: 100%;" href="/app/usuarios/unlink/twitter") Deslinquear	
						else
							a.btn.btn-default(href="/app/usuarios/conectar/twitter" style="width: 100%; padding: 50px;")
								i.fa.fa-twitter(style="margin-right: 5px;")
								| Linquear Twitter
					.col-lg-6.text-center(style="padding : 2px;")
						if user.facebook
							a.btn.btn-default(style="padding: 50px; width: 100%;") 
								i.fa.fa-facebook(style="margin-right: 5px;")
								| #{user.facebook.name}
								a.btn.btn-danger(style="width: 100%;" href="/app/usuarios/unlink/facebook") Deslinquear
						else
							a.btn.btn-default(href="/app/usuarios/conectar/facebook" style="width: 100%; padding: 50px;")
								i.fa.fa-facebook(style="margin-right: 5px;")
								| Linquear Facebook
				.col-lg-12
					h4 Localización preferida y Distancia de aviso
					p Cambiando estos parámetros el servidor te avisará de notificaciones que estén dentro del área seleccionada.
					p Si no deseas ser avisado de denuncias cercanas a una ubicación desmarca esta opción.
					p Para editar la ubicación preferida pulse 
						a(href="/app/perfil/editar_loc") aquí.
block script
	script(src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js")
	script.
		window.document.title += ' - Editar perfil - #{user_otro.profile.username}';
		$('.selectpicker').selectpicker({width : '80%'});
		$('.selectpicker').change(function(event){
			console.log($('.selectpicker').val());
			switch($('.selectpicker').val()){
				case 'gravatar aleatorio' : gravatar();break;
				case 'Avatar Facebook' : facebook_avatar();break;
				case 'Avatar Twitter' : twitter_avatar(); break; 
			}
		});
		$('#actualizar').click(function(event){
			// Objeto que pasamos al body
			var json = {};
			// Username
			if(!($('#nombre_usuario').val() == '' || $('#nombre_usuario').val() == '#{user.profile.username}'))
				json.username = $('#nombre_usuario').val();
			// Nombre
			if(($('#nombre').val() == '' || $('#nombre').val() == '#{user.profile.nombre}'))
				json.nombre = $('#nombre').val();
			// Apellidos
			if(($('#apellidos').val() == '' || $('#apellidos').val() == '#{user.profile.apellidos}'))
				json.apellidos = $('#apellidos').val();

			// Petición XHR
			var xhr = new XMLHttpRequest();
			// Método PUT, URL, async = true
			xhr.open('PUT', '/app/usuarios/perfil' , true);
			// Cabecera Content-Type
			xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			// Enviamos la petición con los datos en el body
			xhr.send(JSON.stringify(json));
	
			// Recibimos respuesta del servidor
			xhr.onreadystatechange = function(){
				if(xhr.status === 200 && xhr.readyState === 4)
					BootstrapDialog.show({
						title : 'OK',
						message : JSON.parse(xhr.responseText).msg,
						onshow : function(dialog){
							console.log('dialog cambia color ');
							$(dialog.getModalHeader()).css('background', '#4dac26');
						}
					});
				else if(xhr.status === 500 && xhr.readyState === 4)
					BootstrapDialog.show({
						title : 'ERROR',
						message : JSON.parse(xhr.responseText).msg,
						onshown : function(dialog){
							$(dialog.getModalHeader()).css('background', '#800000');
						}
					})
			}
		});
		
		$('#imagen_change').css('width', '100%');
		$('#imagen_change').submit(function(event){
		
			event.preventDefault();
		
			var formData = new FormData(this);
			
			var xhr = new XMLHttpRequest();
			xhr.open('PUT', '/app/usuarios/perfil/avatar' , true);
			xhr.send(formData); // Enviamos petición
	
			// Recibimos respuesta del servidor
			xhr.onreadystatechange = function(){
				if(xhr.status === 200 && xhr.readyState === 4)
					BootstrapDialog.show({
						title : 'OK',
						message : JSON.parse(xhr.responseText).msg,
						onshow : function(dialog){
							console.log('dialog cambia color ');
							$(dialog.getModalHeader()).css('background', '#4dac26');
						}
					});
				else if((xhr.status === 500 || xhr.status === 413) && xhr.readyState === 4){
					BootstrapDialog.show({
						title : 'ERROR',
						message : JSON.parse(xhr.responseText).msg,
						onshown : function(dialog){
							$(dialog.getModalHeader()).css('background', '#800000');
						}
					});
					$('#imagen').empty();
					$('#imagen').append('<img class="img img-responsive img-thumbnail img-circle" id="imagenperfil" src="' + res.path + '" style="width: 200px; height: 200px;">');
				}
			}
		});
		
		$('#cambiarImagen').change(function(event){
			$('#imagen_change').submit();
		});
		
		function gravatar(){

			var xhr = new XMLHttpRequest();
			xhr.open('PUT', '/app/usuarios/perfil/avatar/gravatar', true);			
			xhr.send();
			// Recibimos respuesta del servidor
			xhr.onreadystatechange = function(){
				if(xhr.status === 200 && xhr.readyState === 4)
					BootstrapDialog.show({
						title : 'OK',
						message : JSON.parse(xhr.responseText).msg,
						onshow : function(dialog){
							console.log('dialog cambia color ');
							$(dialog.getModalHeader()).css('background', '#4dac26');
						}
					});
				else if((xhr.status === 500 || xhr.status === 413) && xhr.readyState === 4){
					BootstrapDialog.show({
						title : 'ERROR',
						message : JSON.parse(xhr.responseText).msg,
						onshown : function(dialog){
							$(dialog.getModalHeader()).css('background', '#800000');
						}
					});
					$('#imagen').empty();
					$('#imagen').append('<img class="img img-responsive img-thumbnail img-circle" id="imagenperfil" src="' + res.path + '" style="width: 200px; height: 200px;">');
				}
			}
			
		};

		function facebook_avatar(){

			var xhr = new XMLHttpRequest();
			xhr.open('PUT', '/app/usuarios/perfil/avatar/facebook', true);			
			xhr.send();
			// Recibimos respuesta del servidor
			xhr.onreadystatechange = function(){
				if(xhr.status === 200 && xhr.readyState === 4)
					BootstrapDialog.show({
						title : 'OK',
						message : JSON.parse(xhr.responseText).msg,
						onshow : function(dialog){
							console.log('dialog cambia color ');
							$(dialog.getModalHeader()).css('background', '#4dac26');
						}
					});
				else if((xhr.status === 500 || xhr.status === 413) && xhr.readyState === 4){
					BootstrapDialog.show({
						title : 'ERROR',
						message : JSON.parse(xhr.responseText).msg,
						onshown : function(dialog){
							$(dialog.getModalHeader()).css('background', '#800000');
						}
					});
					$('#imagen').empty();
					$('#imagen').append('<img class="img img-responsive img-thumbnail img-circle" id="imagenperfil" src="' + res.path + '" style="width: 200px; height: 200px;">');
				}
			}
			
		};

		function twitter_avatar(){

			var xhr = new XMLHttpRequest();
			xhr.open('PUT', '/app/usuarios/perfil/avatar/twitter', true);			
			xhr.send();
			// Recibimos respuesta del servidor
			xhr.onreadystatechange = function(){
				if(xhr.status === 200 && xhr.readyState === 4)
					BootstrapDialog.show({
						title : 'OK',
						message : JSON.parse(xhr.responseText).msg,
						onshow : function(dialog){
							console.log('dialog cambia color ');
							$(dialog.getModalHeader()).css('background', '#4dac26');
						}
					});
				else if((xhr.status === 500 || xhr.status === 413) && xhr.readyState === 4){
					BootstrapDialog.show({
						title : 'ERROR',
						message : JSON.parse(xhr.responseText).msg,
						onshown : function(dialog){
							$(dialog.getModalHeader()).css('background', '#800000');
						}
					});
					$('#imagen').empty();
					$('#imagen').append('<img class="img img-responsive img-thumbnail img-circle" id="imagenperfil" src="' + res.path + '" style="width: 200px; height: 200px;">');
				}
			}
			
		};