html
  head
    block meta
    // block meta
    meta(charset='utf-8')
    // Para dispositivos móviles
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    // Bootstrap CSS
    link(rel='stylesheet', type='text/css', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    // Font Awesome Iconos
    link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.css')
    // Fuentes
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:700,400,300', rel='stylesheet', type='text/css')
    // CSS Principal
    link(rel='stylesheet', href='/stylesheets/style.css')
    // CSS Animaciones
    link(rel='stylesheet', href='/stylesheets/animations.css')
    // Highlight CSS
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css')
    // LayerSwitcher CSS
    link(rel='stylesheet', href='/javascripts/plugins/ol3-ext/control/layerswitchercontrol.css')
    // Context-Menu CSS
    link(rel='stylesheet', href='/javascripts/plugins/ol3-contextmenu/build/ol3-contextmenu.min.css')
    // OpenLayers CSS
    link(rel='stylesheet', href='/javascripts/plugins/ol3/css/ol.css', type='text/css')
    // CSS OpenLayers Popup
    link(rel='stylesheet', href='http://openlayers.org/en/v3.11.0/examples/popup.css')
    // Prefix free
    script(src='https://raw.githubusercontent.com/LeaVerou/prefixfree/gh-pages/prefixfree.min.js')
    // Bootstrap Select
    link(rel="stylesheet" href="/javascripts/plugins/bootstrap-select/dist/css/bootstrap-select.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker.css")
    link(href="/javascripts/plugins/ol3-geocoder/build/ol3-geocoder.min.css" rel="stylesheet")
    link(href="/javascripts/plugins/bootstrap-sidebar/dist/css/sidebar.css" rel="stylesheet")
    link(href='/javascripts/plugins/range-slider/css/iThing-min.css' rel="stylesheet") 
    // CSS RangeSalider Date
    style.
      .ui-rangeSlider-label {
        bottom: 0px;
      }
      #slider_date {
        padding : 10 0 0 0px;
      }
      .bootstrap-select {
        padding-right : 0px;
        float: right;
      }
    block link
  body(style="margin-top: -10px;")
    - var nuevas = 0;
    if locals.user && mis_notificaciones
      each noti in mis_notificaciones
        if noti.vista == false
          - nuevas ++;
    div.col-xs-7.col-sm-3.col-md-2.sidebar.sidebar-right.sidebar-animate(style="background: rgba(255,255,255, 1); top: 0px !important; box-shadow: 5px 0px 15px 1px rgba(50, 50, 50, 0.5); padding : 0px; bottom : 1.5em; min-height : 0px;")
      //content
      .col-lg-12.layer_switcher(style="padding : 0px;")
    div.col-xs-7.col-sm-3.col-md-2.sidebar.sidebar-left.sidebar-animate(style="background: rgba(255,255,255, 1); top: 0px !important; box-shadow: -5px 0px 15px 1px rgba(50, 50, 50, 0.5); bottom : 1.5em; min-height : 0px;")
      //content
      .media(style="padding: 10 0 10 0px; border-bottom: 1px solid rgba(0,0,0,0.6)")
        a.media-left
          if user
            img.img-responsive.img-circle.pull-left(src="#{locals.user.profile.picture}" style="height: 40px; width: 40px; margin: 0 5 0 0px;")
          else
            img.img-responsive.img-circle.pull-left(src="http://appstudio.windows.com/Content/img/temp/icon-user.png" style="height: 40px; width: 40px; margin: 0 5 0 0px;") 
        div.media-body(style="display: table-cell; vertical-align: middle; height: 40px; color: #003b6f; font-weight: bold;")
          if user
            |  #{user.profile.username}
          else
            |  #{contenido.usuario_invitado}
      .col-xs-12(style="padding: 0px")
          .menu-item.col-xs-12
            a(href="/app") 
              i.fa.fa-home
              |  #{contenido.inicio}
          .menu-item.col-xs-12
            a(href="/app/denuncias/visor") 
              i.fa.fa-globe
              |  #{contenido.visor_tiempo_real}
          .menu-item.col-xs-12
            a(href="/app/denuncias?page=1") 
              i.fa.fa-list
              |  #{contenido.denuncias}
          if user
            .menu-item.col-xs-12
              a(href="#" id="notificaciones")
                i.fa.fa-inbox
                |  #{contenido.notificaciones}
                span(style="margin-left: 5px;").badge.noti_up #{nuevas}
            .menu-item.col-xs-12
              a(href="/app/usuarios/perfil") 
                i.fa.fa-user
                |  #{contenido.mi_perfil}
            .menu-item.col-xs-12
              a(href="/app/denuncias/nueva") 
                i.fa.fa-plus-circle
                |  #{contenido.nueva_denuncia}
            .menu-item.col-xs-12
              a(href="/app/usuarios/logout") 
                i.fa.fa-sign-out
                |  #{contenido.cerrar_sesion}
    ul
      li(style="position: absolute; top: 8.5em; left: 0.5em;z-index: 1; border-radius: 5px;")
        a(class="navbar-toggle" data-toggle="sidebar" data-target=".sidebar-left" href="#" style="padding: 0px; margin: 0px;")
          if(user)
            img.img-responsive.img-circle.pull-left(src="#{locals.user.profile.picture}" style="height: 40px; width: 40px;")
            span(style="margin-left: -15px; margin-top: 25px;").badge.noti_up #{nuevas}
          else
            img.img-responsive.img-circle.pull-left(src="http://appstudio.windows.com/Content/img/temp/icon-user.png" style="height: 40px; width: 40px; margin: 0 5 0 0px;")

    div(style="position : absolute; right : 0.5em; top : 2.5em; z-index : 1; background: #00bbff; border-radius : 2px;")
        a(class="navbar-toggle" data-toggle="sidebar" data-target=".sidebar-right" href="#" style="padding: 0px; margin: 0px;")
          img(src="/files/images/layers.svg") 
    // header-right end
    // header end
    // section start
    // ================
    div#heatmap_anim(style="position: absolute; top: 0px; z-index : 1; left: 50px; right: 50px;")
      .col-lg-12
        div(id="slider_date" style="height: 20px;")
      .col-lg-12(style="margin-top: 10px;")
          button#play.btn.btn-default.btn-sm(style="min-width: 0px; margin-top: 5px; float: left;")
            i.fa.fa-play
          select#anyos
          #fecha_max(style="margin-top : 10px; position: absolute; text-align : center; left: 4.5em; right: 1.25em;")
    #map.clearfix.object-non-visible(data-animation-effect='fadeInRightBig')
    // section end
    div(style="position: fixed; bottom: 0px; left: 0; right: 0; height: 1.5em; background : rgba(0,0,0,0.4); color: #fff; padding: 0 15 0 15px")
      i.fa.fa-bullhorn
      span#numdenunhoy  !{locals.datos_app.num_denun_hoy}
      |  | 
      |  
      span#numdenun  !{locals.datos_app.num_denun_total} 
      span#numusu.pull-right    
  // Plugins Javascript situados al final de la página, así el contenido carga antes
  // JQuery y Bootstrap
  script.
    //var ip = '#{ip}';
    var id_usuario = '#{locals.user ? locals.user._id : undefined}';
  script(src='/javascripts/plugins/js-cookie/src/js.cookie.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  // Modernizr
  script(type='text/javascript', src='/javascripts/plugins/modernizr.js')
  // Jquery appear
  script(type='text/javascript', src='/javascripts/plugins/jquery.appear.js')
  // Bootstrap Select JS
  script(src="/javascripts/plugins/bootstrap-select/js/bootstrap-select.js")
  // JS Principal
  script(type='text/javascript', src='/javascripts/template.js')
  // Útiles para denuncias, notificaciones, acciones
  script(type='text/javascript', src='/javascripts/utils.js')
  // FitText.js
  script(type='text/javascript', src='/javascripts/plugins/jquery.fittext.js')
  // Bootstrap Dialog JS (Nakupanda)
  script(type='text/javascript', src='/javascripts/plugins/bootstrap-dialog.js')
  // Highlight JS
  script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js')
  // Proj4.js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.12/proj4.js')
  // OpenLayers.js
  script(src='/javascripts/plugins/ol3/build/ol.js')
  // OL3 FontStyle Viglino Github https://github.com/Viglino/ol3-ext.git
  script(src='/javascripts/plugins/ol3-ext/style/fontsymbol.js')
  script(src='/javascripts/plugins/ol3-ext/style/shadowstyle.js')

  script(src="/javascripts/plugins/ol3-ext/style/fontmaki.def.js")
  script(src="/javascripts/plugins/ol3-ext/style/fontawesome.def.js")
  
  // Cesium
  //script(src="/javascripts/plugins/ol3-cesium/cesium/Build/Cesium/Cesium.js")
  //script(src="/javascripts/plugins/ol3-cesium/dist/ol3cesium.js")
  // LayerSwitcher JS
  script(src="/javascripts/plugins/ol3-ext/control/layerswitchercontrol.js")
  // ContextMenu JS
  script(src='/javascripts/plugins/ol3-contextmenu/build/ol3-contextmenu.js')
  // Geocoder
  script(src="/javascripts/plugins/ol3-geocoder/build/ol3-geocoder.js")
  // Jquery UI
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
  // jquery RangeSlider
  script(src="/javascripts/plugins/range-slider/jQDateRangeSlider-min.js")
  // Estilos Features
  script(src='/javascripts/openlayers/style.js')
  // proyección
  script(src='/javascripts/openlayers/proj.js')
  // Capas
  script(src='/javascripts/openlayers/capas.js')
  // Capas
  script(src='/javascripts/openlayers/mapa.js')
  // SOCKET.IO
  script(src="https://cdn.socket.io/socket.io-1.3.7.js")
  script(src="/javascripts/plugins/bootstrap-sidebar/dist/js/sidebar.js")
  script.

    var traducciones = JSON.parse('!{JSON.stringify(contenido)}');

    var format = new ol.format.GeoJSON();

    var vector = new ol.layer.Vector({
      displayInLayerSwitcher: false,
      source: new ol.source.Vector({
          format: format
      }),
      style: styleFunction
    });

    var id_usuario = '#{id_usuario}';
    if(id_usuario != 'undefined')
      var notificaciones = JSON.parse('!{JSON.stringify(mis_notificaciones)}');
    $('#notificaciones').click(function(e){
      var d = new BootstrapDialog({
        title : 'Mis notificaciones'
      });

      var message = '';

      notificaciones.forEach(function(noti){
        message += getNotificacionRow(noti, traducciones);
      });

      d.setMessage(message);
      d.open();

    });
  // FUNCIONALIDADES SOCKET.IO
  script(src="/javascripts/client-sockets.js")

  // Botones mapa 
  script(type='text/javascript', src='/javascripts/openlayers/controles/comentarios_denuncia.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/draw.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/get_feature_info.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/imagenes_denuncia.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/info_denuncia.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/lateral.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/like_denuncia.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/tracking_denuncias_cerca.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/query_denuncias.js')
  script(type='text/javascript', src='/javascripts/openlayers/controles/tracking.js')
  // Block Script
  block script
  script.
    //window.screen.lockOrientation('landscape');
    map.addControl(new app.Tracking());
    $(function(){
      $('.dropdown-toggle').dropdown();
      $('[data-toggle="left"]').popover({
        trigger: 'hover',
        placement: 'left'
      });
    
      $('[data-toggle="right"]').popover({
        trigger: 'hover',
        placement: 'right'
      });
    });   
    $('#map').click(function(e){
      //alert('hideee');
      $('[data-toggle="right"], [data-toggle="left"]').popover('hide');
    });  